<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            var formData = JSON.stringify($("#validateForm").serializeArray());
        </script>
    </head>
    <body>
        <p>Report an URL:</p>
        <form id="reportForm" action="/report">
            <label for="url">URL:</label><br>
            <input type="text" name="url"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div id="reportResult"></div>
        <script src="static/js/main.js"></script>
    </body>
</html>