<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/cascade.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var formData = JSON.stringify($("#validateForm").serializeArray());
</script>
</head>
<body>
    <div lang="OldSpeak"><a style="position: fixed; margin:0; padding:15px;" href="/div[lang=NewSpeak]/dashboard">Switch to NewSpeak</a></div>
    <div lang="NewSpeak"><a style="position: fixed; margin:0; padding:15px;" href="/div[lang=OldSpeak]/dashboard">Switch to OldSpeak</a></div>
    <img src="https://cdn.dribbble.com/users/7184/screenshots/588811/media/7cdeed3e932a0c37e26cc3e988aee34d.png?compress=1&resize=400x300" alt="logoMinipax"
        style="width:20%;">
    <div style="padding-top:0; margin:0; border-bottom: 1px solid #cccccc; padding: 25px; color: #cccccc;" lang="NewSpeak">
        <h1>Minipax</h1>
        <p>This page is reserved to accredited comrades. Do not talk about our Doubleplus-secret information such as this flag: SHC22{fake_flag_for_testing}.
        </p>
    </div>
    <div style="padding-top:0; margin:0; border-bottom: 1px solid #cccccc; padding: 25px; color: #cccccc;" lang="OldSpeak">
        <h1>Ministry of Peace</h1>
        <p>This page is reserved to accredited personal. Do not talk about the top-secret information such as this flag: SHC22{fake_flag_for_testing}.
        </p>
    </div>
    <div style=" align-content: center; text-align: center; align-items: center; border-bottom: 1px solid #cccccc; padding: 25px; color: #cccccc;" lang="OldSpeak">
        <h1>Whitelist an IP</h1>
        <form id="oldWhitelistForm" action="/whitelistIp">
            <input style="display: none;" type="text" name="token" value="<%= token %>">
            <label for="address">IP address:</label><br>
            <input type="text" name="address"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div id="oldWhitelistResult" lang="OldSpeak"></div>
    </div>
    <div style=" align-content: center; text-align: center; align-items: center; border-bottom: 1px solid #cccccc; padding: 25px; color: #cccccc;" lang="NewSpeak">
        <h1>Accord work capability to an IP</h1>
        <form id="newWhitelistForm" action="/whitelistIp">
            <input style="display: none;" type="text" name="token" value="<%= token %>">
            <label for="address">IP address:</label><br>
            <input type="text" name="address"><br><br>
            <input type="submit" value="Submit">
        </form>
        <div id="newWhitelistResult" lang="NewSpeak"></div>
    </div>
    <script src="/static/js/main.js"></script>
    <style>
        <%= language %>{
            display: block;
        }
    </style>
</body>
<!--Credits to our comrade Nils Kundert (Drazik) for the design-->
</html>